# Backend
NEXT_PUBLIC_BACKEND_URL="http://localhost:8081"
NEXT_PUBLIC_WEBSOCKET_URL="ws://localhost:8081/ws"

# NEXT_PUBLIC_BACKEND_URL="https://api.caho.com.br"
# NEXT_PUBLIC_WEBSOCKET_URL="wss://api.caho.com.br/ws"